#button {
  padding-bottom: 1.5rem;
}

#facebookIcon {
  background-image: url("https://image.flaticon.com/icons/svg/145/145802.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#googleIcon {
  background-image: url("https://image.flaticon.com/icons/svg/145/145804.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.loginas {
  margin-top: 200px;
  margin-left: 300px;
}

.auth_google_button {
  margin-top: 70px;
  margin-left: 300px;
  width: 210px;
  height: 45px;
}
.auth_google.button_image {
}
.auth_naver_button {
  margin-top: 20px;
  margin-left: 300px;
  width: 210px;
  height: 45px;
}

.auth_naver_button_image {
  height: 0.9rem;
  margin-right: 0.7em;
  margin-left: 0.2em;
}
