.text {
  margin-left: 190px;
  font-size: xx-large;
  padding-bottom: 50px;
}

.Form {
  width: 100px;
  height: 100px;
}
.auth_social_buttons {
}
.loginbutton {
  margin-top: 40px;
  margin-left: 200px;
}
