/*.bgcolor {
  background-color: #b7cff7;
}*/
.text {
  font-size: 50px;
  margin-left: 600px;
  margin-top: 100px;
}

.dropdown {
  margin-left: 700px;
  margin-top: 40px;
}

.makebutton {
  margin-left: 690px;
  margin-top: 350px;
}
