/*.bgcolor {
  background-color: #b7cff7;
}*/
.text {
  font-size: 50px;
  margin-left: 620px;
  margin-top: 80px;
}

.dropdown {
  margin-left: 700px;
  margin-top: 40px;
}
.content {
  width: 600px;
  margin-left: 400px;
  margin-top: 30px;
  height: 500px;
}
.hight {
  height: 200px;
  background-color: #dae2eb;
}

.makebutton {
  margin-left: 690px;
}
